# MAC
.DS_Store
playbooks/my*
playbooks/vars/my*

#Ansible Inventory files
inventory/*
ansible.cfg

#Local values
.local.*
*.zip
playbooks/roles/configuration/files/*.json
playbooks/roles/configuration/files/dashboards/*.json
playbooks/roles/configuration/files/health_rules/*.json
