# MAC
.DS_Store
playbooks/my*
playbooks/vars/my*

#Ansible Inventory files
inventory/*
ansible.cfg

#Local values
.local.*
*.zip

# ignore config files to be imported
playbooks/roles/configuration/files/*.json
