{
    "ConfigItems": 
        [
   
            {
                "Name": "appNameOrID", 
                "Value": "{{ event_log_appname }}"   
            }, 

            {
                "Name": "controllerHost", 
                "Value": "{{ controller_host_name }}:{{controller_port}}"   
            },

            {
                "Name": "OAuthToken", 
                "Value": "{{ event_log_oauthtoken }}"   
            }
        ]
    }