{
    "name": "Ansible--{{ managed_by }}--{{ item.value.rule_name }}--{{ hierarchy_item }}",
    "enabled": true,
    "useDataFromLastNMinutes": 5,
    "waitTimeAfterViolation": 5,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
            "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": [
                    "{{ hierarchy_item }}"
                ]
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ANY",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Cron",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|cron|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "sssd",
                    "shortName": "B",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|sssd|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "sshd",
                    "shortName": "C",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|sshd|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "vmtoolsd",
                    "shortName": "E",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|vmtoolsd|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "rsyslogd",
                    "shortName": "F",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|rsyslogd|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "auditd",
                    "shortName": "G",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|auditd|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "Splunk",
                    "shortName": "H",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|Process Monitor|Linux Processes|Splunk|Running Instances",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": null
    }
}