{
    "name": "{{ hierarchy_item}}--{{ item.value.rule_name }}",
    "enabled": false,
    "useDataFromLastNMinutes": 30,
    "waitTimeAfterViolation": 30,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
            "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": [
                    "{{ hierarchy_item }}"
                ]
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ANY",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|Memory|Used % Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Memory|Used %",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "GREATER_THAN_SPECIFIC_VALUE",
                            "compareValue": 95
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 4
                },
                {
                    "name": "Condition 2",
                    "shortName": "B",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Memory|Free (MB)",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 500
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 4
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|Memory|Used % Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Memory|Used %",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "GREATER_THAN_SPECIFIC_VALUE",
                            "compareValue": 85
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 4
                }
            ],
            "evalMatchingCriteria": null
        }
    }
}