{
    "name": "{{ hierarchy_item}}--{{ item.value.rule_name }}",
    "enabled": true,
    "useDataFromLastNMinutes": 5,
    "waitTimeAfterViolation": 5,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
            "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": [
                    "{{ hierarchy_item }}"
                ]
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|Volumes|Used (%) Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Volumes|*|Free (MB)",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 1000
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|Volumes|Used (%) Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Volumes|*|Free (MB)",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 2000
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                }
            ],
            "evalMatchingCriteria": null
        }
    }
}