{
    "id": 73292,
    "name": "{{ department }}--{{ managed_by }}--{{ item.value.rule_name }}--{{ support_group_no_spaces }}",
    "enabled": true,
    "useDataFromLastNMinutes": 30,
    "waitTimeAfterViolation": 30,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
            "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": 
                    {{ hierarchy_mapping[hierarchy_item] }}
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|CPU|%Busy Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|CPU|%Busy",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "GREATER_THAN_SPECIFIC_VALUE",
                            "compareValue": 95
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 4
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|CPU|%Busy Condition",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|CPU|%Busy",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "GREATER_THAN_SPECIFIC_VALUE",
                            "compareValue": 90
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 4
                }
            ],
            "evalMatchingCriteria": null
        }
    }
}