{
    "id": 73821,
    "name": "{{ department }}--{{ managed_by }}--{{ item.value.rule_name }}--{{ support_group_no_spaces }}",
    "enabled": true,
    "useDataFromLastNMinutes": 5,
    "waitTimeAfterViolation": 30,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
           "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": 
                    {{ hierarchy_mapping[hierarchy_item] }}
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Cluster Role Available Storage Violation",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|WindowsClusterHealthMonitoring|Role|AvailableStorage|*|State",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "LESS_THAN_SPECIFIC_VALUE",
                            "compareValue": 2
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                },
                {
                    "name": "Number of nodes in Cluster",
                    "shortName": "B",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Custom Metrics|WindowsClusterHealthMonitoring|Node|Count",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "SPECIFIC_TYPE",
                            "compareCondition": "GREATER_THAN_SPECIFIC_VALUE",
                            "compareValue": 3
                        }
                    },
                    "triggerEnabled": false,
                    "minimumTriggers": 2
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": null
    }
}