{
    "id": 73558,
    "name": "{{ department }}--{{ managed_by }}--{{ item.value.rule_name }}--{{ support_group_no_spaces }}",
    "enabled": true,
    "useDataFromLastNMinutes": 15,
    "waitTimeAfterViolation": 30,
    "scheduleName": "Always",
    "affects": {
        "affectedEntityType": "SERVERS",
        "serverSelectionCriteria": {
            "selectServersBy": "AFFECTED_SERVERS",
            "affectedServers": {
                "severSelectionScope": "SERVERS_WITHIN_SUBGROUP",
                "subGroups": 
                    {{ hierarchy_mapping[hierarchy_item] }}
            }
        }
    },
    "evalCriterias": {
        "criticalCriteria": {
            "conditionAggregationType": "ALL",
            "conditionExpression": null,
            "conditions": [
                {
                    "name": "Hardware Resources|Load|Last 15 minutes",
                    "shortName": "A",
                    "evaluateToTrueOnNoData": false,
                    "evalDetail": {
                        "evalDetailType": "SINGLE_METRIC",
                        "metricAggregateFunction": "VALUE",
                        "metricPath": "Hardware Resources|Load|Last 15 minutes",
                        "metricEvalDetail": {
                            "metricEvalDetailType": "BASELINE_TYPE",
                            "baselineCondition": "GREATER_THAN_BASELINE",
                            "baselineName": "All data - Last 15 days",
                            "compareValue": 10,
                            "baselineUnit": "STANDARD_DEVIATIONS"
                        }
                    },
                    "triggerEnabled": true,
                    "minimumTriggers": 3
                }
            ],
            "evalMatchingCriteria": null
        },
        "warningCriteria": null
    }
}